USE [CMCSDatabase]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 11/19/2025 12:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimId] [int] IDENTITY(1,1) NOT NULL,
	[LecturerName] [nvarchar](100) NOT NULL,
	[HoursWorked] [decimal](18, 2) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[DateSubmitted] [datetime2](7) NOT NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[DateApproved] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 11/19/2025 12:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[UploadDate] [datetime2](7) NOT NULL,
	[ClaimId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 11/19/2025 12:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[LecturerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IdNumber] [nvarchar](20) NULL,
	[BankName] [nvarchar](50) NULL,
	[AccountNumber] [nvarchar](20) NULL,
	[BranchCode] [nvarchar](10) NULL,
	[DefaultHourlyRate] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DateRegistered] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

INSERT [dbo].[Claims] ([ClaimId], [LecturerName], [HoursWorked], [HourlyRate], [Notes], [Status], [DateSubmitted], [ApprovedBy], [DateApproved]) VALUES (1, N'Dr. John Dlamini', CAST(8.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)), N'Evening Class', N'Pending', CAST(N'2025-11-17T11:55:08.0466667' AS DateTime2), NULL, NULL)
INSERT [dbo].[Claims] ([ClaimId], [LecturerName], [HoursWorked], [HourlyRate], [Notes], [Status], [DateSubmitted], [ApprovedBy], [DateApproved]) VALUES (2, N'Prof. Mary Naidoo', CAST(12.50 AS Decimal(18, 2)), CAST(480.00 AS Decimal(18, 2)), N'Make-up Session', N'Pending', CAST(N'2025-11-18T11:55:08.0466667' AS DateTime2), NULL, NULL)
INSERT [dbo].[Claims] ([ClaimId], [LecturerName], [HoursWorked], [HourlyRate], [Notes], [Status], [DateSubmitted], [ApprovedBy], [DateApproved]) VALUES (3, N'Mr. David Smith', CAST(10.00 AS Decimal(18, 2)), CAST(420.00 AS Decimal(18, 2)), N'Weekend Workshop', N'Approved', CAST(N'2025-11-16T11:55:08.0466667' AS DateTime2), N'Coordinator', CAST(N'2025-11-18T11:55:08.0466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturers] ON 

INSERT [dbo].[Lecturers] ([LecturerId], [FullName], [Email], [PhoneNumber], [IdNumber], [BankName], [AccountNumber], [BranchCode], [DefaultHourlyRate], [IsActive], [DateRegistered]) VALUES (1, N'Dr. John Dlamini', N'john.dlamini@university.ac.za', N'+27 11 123 4567', N'8001015000089', N'Standard Bank', N'12345678901', N'051001', CAST(480.00 AS Decimal(18, 2)), 1, CAST(N'2025-05-19T11:55:08.0466667' AS DateTime2))
INSERT [dbo].[Lecturers] ([LecturerId], [FullName], [Email], [PhoneNumber], [IdNumber], [BankName], [AccountNumber], [BranchCode], [DefaultHourlyRate], [IsActive], [DateRegistered]) VALUES (2, N'Prof. Mary Naidoo', N'mary.naidoo@university.ac.za', N'+27 11 234 5678', N'8502154000085', N'FNB', N'23456789012', N'250655', CAST(520.00 AS Decimal(18, 2)), 1, CAST(N'2025-07-19T11:55:08.0466667' AS DateTime2))
INSERT [dbo].[Lecturers] ([LecturerId], [FullName], [Email], [PhoneNumber], [IdNumber], [BankName], [AccountNumber], [BranchCode], [DefaultHourlyRate], [IsActive], [DateRegistered]) VALUES (3, N'Mr. David Smith', N'david.smith@university.ac.za', N'+27 11 345 6789', N'9003056000081', N'Nedbank', N'34567890123', N'198765', CAST(460.00 AS Decimal(18, 2)), 1, CAST(N'2025-09-19T11:55:08.0466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Lecturers] OFF
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Lecturers] ADD  DEFAULT ((450.0)) FOR [DefaultHourlyRate]
GO
ALTER TABLE [dbo].[Lecturers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([ClaimId])
ON DELETE CASCADE
GO
